   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}
   body{
       background-color: #ccc;
   }
   /* HEADER-CONTENT */
   h1{
       display: inline-block;
       font-size: 50px;
   }
   header{
       background-color: #fff;
       padding: 15px 30px;
   }
    .logo{
        vertical-align: middle;
        width: 100px;
    }
    /* MAIN-CONTENT */
    